.navbar {
	padding: .25rem 1rem;
}
main {
	padding: .5rem 0 !important;
}
#logo-header strong {
	color: #ffe21a;
	font-size: 1.15rem;
}
#logo-header .logo-img {
	width: 40px; 
	height: 40px;
	fill: #ffe21a;
	border: 2px solid #ffe21a;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#logo-footer small {
	color: #6c757d;
}
#logo-footer .logo-img {
	width: 24px; 
	height: 24px; 
	fill: #6c757d;
	border: 1px solid #6c757d;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
main {
padding: 15px 0;
}
#map {
text-align: center;
}
#map svg {
width: 100%;
}
#map path {
stroke: #000000;
stroke-width: 1px;
stroke-linecap: round;
stroke-linejoin: round;
stroke-opacity: .25;
fill: #ffe21a;
}
#map g path:hover,
#map g .active path {
fill: #fff200;
}
h1 {
font-size: 1.75rem;
text-align: center;
border-bottom: 1px solid #ffe21a;
}
.copyleft {
display:inline-block;
transform: rotate(180deg);
}
.border-top {
border-top: 1px solid #6c757d !important;
}
.list-group-item.active {
background-color: transparent;
color: #212529;;
border-color: #212529;
border-top: 0 !important;
}
.list-group-item:last-child {
border-bottom: 0 !important;
}
.small, small {
font-size: 85%;
}
.list-group-item-action:hover {
background-color: #ffe21a;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
color: #ffe21a;
text-decoration: none;
}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
color: #ffe21a;
text-decoration: none;
border-bottom: 1px solid #ffe21a;
}
.navbar-dark .navbar-nav .nav-link {
color: #fff;
font-weight: bold;
padding-top: 5px;
padding-bottom: 5px;
}
footer p {
margin: 0;
color: #6c757d;
}
.github-icon-svg {
display: inline-block;
width: 16px;
height: 16px;
position: relative;
}
a:hover {
color: #e8ab03;
text-decoration: underline;
}
a {
color: #e8ab03;
font-weight: bold;
text-decoration: none;
background-color: transparent;
}
header .nav-item img {
	width: 40px; 
	height: 40px;
	-moz-border-radius: 20px;
	border-radius: 20px;	
}
.btn-warning:hover {
    color: #212529;
    background-color: #fff200;
    border-color: #fff200;
}
.btn-warning {
    color: #212529;
    background-color: #ffe21a;
    border-color: #ffe21a;
	font-weight: bold;
	
}

#map .regionMap  svg {
	width: 70% !important;
}

#map #FR-ARA svg,
#map #FR-BFC svg,
#map #FR-BRE svg,
#map #FR-OCC svg {
	width: 98% !important;
}
#map #FR-CVL svg,
#map #FR-HDF svg,
#map #FR-NAQ svg,
#map #FR-YT svg,
#map #FR-MQ svg {
	width: 60% !important;
}
#map #FR-COR svg {
	width: 35% !important;
}
#map #FR-GES svg,
#map #FR-IDF svg,
#map #FR-PAC svg,
#map #FR-GP svg {
	width: 85% !important;
}
#map #FR-NOR svg {
	width: 90% !important;
}
#map #FR-GF svg {
	width: 50% !important;
}

#map .regionMap path {
    stroke-width: 2px;
}
.categories i {
	font-size: 3rem;
	color: #212529;
}
.categories h2 {
	font-size: 1.5rem;
}
.categories a {
	color: #212529;
	font-weight: normal;
}
.categories a:hover {
	text-decoration: none;
	background-color: #ffe21a;
}
.links img {
	width: 80px;
}
.list-group-flush .list-group-item.active {
	border-bottom: 1px solid #212529 !important;
}
.list-group-flush .list-group-item:last-child {
	margin-bottom: 0px;
}
.far {
    font-weight: 900;
}

a.media {
	color: #212529;
	font-weight: normal;
}
a.media:hover {
	text-decoration: none;
	background-color: #ffe21a;
}

.btn-primary:hover {
	background-color: #fff200;
	border-color: #fff200;
	color: #495057;
}
.btn-primary {
	background-color: #ffe21a;
	border-color: #ffe21a;
	color: #495057;
}
a.media h2 {
	font-size: 1.25rem;
	font-weight: bold;
}

.card-body {
    width: 100%;
}
a.media img {
	object-fit: cover;
	width: 60px;
	height: 60px;
}
a.card img {
	object-fit: cover;
	width: 100%; 
	height: 225px;
}
a.figure img {
	object-fit: cover;
	width: 140px; 
	height: 140px;
}
