<!doctype html>
<html lang="fr">
	<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<link rel="stylesheet" href="/css/bootstrap-4.3.1.min.css" />
		<link rel="stylesheet" href="/css/fontawesome-5.7.2.css" />

		<link rel="stylesheet" href="/css/style.css">

    	<title>{{ page.title }}</title>
		<meta name="description" content="{{ page.description }}" />
		
		<link rel="shortcut icon" type="image/ico" href="/images/favico.ico?v=20190312" sizes="32x32" >
        <link rel="shortcut icon" type="image/png" href="/images/favico.png?v=20190312" sizes="32x32" >
        <link rel="apple-touch-icon" href="/images/favico.png?v=20190312" sizes="129x129">
        <link rel="shortcut icon" type="image/png" href="/images/favico.png" sizes="192x192">
  	</head>


	<body class="bg-light">

		<header>
  			<div class="navbar navbar-dark bg-dark navbar-expand-md">
			<div class="container d-flex justify-content-between">
  				<a href="/" class="navbar-brand">
					<span id="logo-header">
					<svg class="logo-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 -7 83 125" xml:space="preserve"><path d="M5.5,86.773c0,4.979,2.623,9.018,5.857,9.018h22.455c3.234,0,5.858-4.038,5.858-9.018v-5.633H5.5V86.773z"/><rect x="5.5" y="70.62" width="34.17" height="4.883"/><path d="M24.078,7.5h-7.566c-3.235,0-7.556,3.311-5.857,7.409l3.043,7.409h0.001c2.334,4.552,4.005,9.742,4.005,15.744  c0,10.928-5.132,12.027-12.204,15.8v11.121h34.17V39.42v-0.813l-9.735-23.698C28.354,10.702,27.312,7.5,24.078,7.5z"/><path d="M43.089,86.773c0,4.979,2.623,9.018,5.858,9.018h22.456c3.235,0,5.857-4.038,5.857-9.018v-5.633H43.089V86.773z"/><rect x="43.089" y="70.62" width="34.172" height="4.883"/><path d="M65.057,38.061c0-6.002,1.672-11.191,4.005-15.744h0.002l3.043-7.409c1.698-4.098-2.623-7.409-5.857-7.409h-7.566  c-3.235,0-4.276,3.203-5.858,7.409l-9.735,23.698v0.813v25.562h34.172V53.861C70.189,50.088,65.057,48.989,65.057,38.061z"/></svg>
					&nbsp;<strong>Pages Gilets Jaunes</strong>
					</span>
  				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">
						<!-- <li class="nav-item text-center">
					  		<a class="nav-link{% if page.current_link and page.current_link == "compteur" %} active{% endif %}" href="/compteur-officiel-de-gilets-jaunes/">Le compteur officiel</a>
						</li> -->
						<li class="nav-item text-center">
					  		<a class="nav-link{% if page.current_link and page.current_link == "figures" %} active{% endif %}" href="/les-figures-du-mouvement/">Les Figures du mouvement</a>
						</li>
						<li class="nav-item text-center">
					  		<a class="nav-link{% if page.current_link and page.current_link == "informations" %} active{% endif %}" href="/informations-nationales/">Informations Nationales</a>
						</li>
						<li class="nav-item text-center ml-3">
					  		<a type="button" class="btn btn-warning btn-sm{% if page.current_link and page.current_link == "etrereference" %} active{% endif %}" href="/etre-reference/">Etre Référencé</a>
						</li>
				  	</ul>
				</div>
				</div>
  			</div>
	</header>

	<main role="main" class="container">
